   {% extends "template_app.html" %}
   {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compare.css') }}" />
   {% endblock %}
   {% block body %}
     <div id="compare-container">
        <div class="clearfix" id="compare-header-container">
           <h1> Top exchanges for {{coin}}</h1>
        </div>
        <div id="compare-container-body">
            <div class="clearfix">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 dropdown">
                   <select onchange="document.location.href=this.value" class="pull-left btn btn-dropdown dropdown-toggle">
                    <option>Select</option>
                    {% for c,coinName in coins.items() %}
                    <option {% if coin == c %} selected=true {% endif %} value="?coin={{c}}&currency={{currency}}">{{coinName}}</option>
                    {% endfor %}
                    </select>
                 </div>
             </div>
             <div style="height:20px" class="clearfix"></div>
             <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> 
                    <div id="compare-graph"></div>
                </div>
             </div>
             <div class="clearfix"></div>
             <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 text-left col-centered currency-analysis-desc">ChulBul says <strong><i>{{minExc}}</i></strong> is the best place at this time to buy {{coin}}. Get a detailed analysis by following the link below
             </div>
             <div style="height:20px" class="clearfix"></div>
             <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
             <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <a href="/currency_specific?coin={{coin}}&exc={{minExc}}&currency={{currency}}" type="button" class="btn btn-primary "/>Know more</a>
             </div>
             <div class="top-padding-30 bottom-padding-30"></div>
        </div>
      </div>
   {% endblock %}
   {% block javascript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Day');
          {% for col in graphCols %}
            data.addColumn('number', '{{col}}');
          {% endfor %}
          data.addRows({{graphData}});

          var options = {
            chart: {
              title: 'Top Exchanges for {{coin}}',
              subtitle: 'in {{currency}}'
            },
            height: 500,
            pointSize: 20,
            pointsVisible: true,
            vAxis: { 
                format: '{{currency}} #'
            }
          };

          var chart = new google.charts.Line(document.getElementById('compare-graph'));

          chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
   {% endblock %}
   </body>
</html>