   {% extends "template_app.html" %}
   {% block css %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/currency.css') }}" />
   {% endblock %}
   {% block body %}
     <h2 style="text-align:center">{{coinName}} Price Analysis</h2>
      <div class="clearfix" id="top-container">
         <div class="columns">
            <ul class="price">
               <li class="header">Top 5 exchanges</li>
               {% for e in exchanges %}
               <li {% if e == exc %} class="active" {% endif %} ><a href="?coin={{coin}}&exc={{e}}&currency={{currency}}">{{e}}</a></li>
               {% endfor %}
            </ul>
         </div>
         <div class="columns">
            <ul class="price">
               <li class="header" >Last week trend</li>
               <div id="compare-graph"></div>
            </ul>
         </div>
      </div>
      <div style="height:20px" class="clearfix"></div>
      <div class="clearfix" id="portfolio-container">
         <div class="clearfix" id="investment-stats">
            <div class="box_parent col-md-3 col-lg-3 col-sm-6 col-xs-6">
               <div class="box">
                  <h3 class="header">Lowest last 24hr</h3>
                  <span class="num">{{todayData['low']}}</span>
               </div>
            </div>
            <div class="box_parent col-md-3 col-lg-3 col-sm-6 col-xs-6">
               <div class="box">
                  <h3 class="header">Last 24hr volume</h3>
                  <span class="num">{{todayData['volumeto']}}</span>
               </div>
            </div>
            <div class="box_parent col-md-3 col-lg-3 col-sm-6 col-xs-6">
               <div class="box">
                  <h3 class="header">Best open price </h3>
                  <span class="num">{{todayData['close']}}</span>
               </div>
            </div>
            <div class="box_parent col-md-3 col-lg-3 col-sm-6 col-xs-6">
               <div class="box">
                  <h3 class="header">Highest last 24hr</h3>
                  <span class="num">{{todayData['high']}}</span>
               </div>
            </div>
         </div>
         <div class="box_parent col-md-12 col-lg-12 col-sm-12 col-xs-12"></div>
         <div style="height:20px" class="clearfix"></div>
         <div class="box">
            <a href="{{appWebsite}}" target="_blank" class="btn btn-primary">Buy now!</a>
         </div>
         <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
   {% endblock %}
   {% block javascript %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);
        console.log({{graphData}});        
        function drawChart() {
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Day');
          data.addColumn('number', '{{exc}}');
          data.addRows({{graphData}});

          var options = {
            chart: {
              title: 'Last week trend - {{coin}}',
              subtitle: 'in {{currency}}'
            },
            height: 350,
            vAxis: { 
                format: '{{currency}} #'
            },
            hAxis: { ticks: [1,2,3,7] }
          };

          var chart = new google.charts.Line(document.getElementById('compare-graph'));
          chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
   {% endblock %}
   </body>
</html>